.container {
    background-color: gray;
    width: 600px;
    height: 800px;
    margin: 30px auto 0;
    box-sizing: border-box;
    padding: 50px 0 0;
}

.display {
    box-sizing: border-box;
    background-color: black;
    padding: 30px;
    width: 86%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 80px;


}

.button-container {
    background-color: lightgrey ;
    width: 86%;
    height: 60%;
    margin: 30px auto 0;
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-between;
    align-content: space-between;
}

.button {
    background-color: pink;
    width: 22%;
    height: 22%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    
}